<% if flash[:notice] %>
  <p class="box notice"> <%= flash[:notice] %> </p>
<% elsif flash[:error] %>
  <p class="box error"> <%= flash[:error] %> </p>
<% end %>
<div class="account">
  <h3>用户登陆</h3>
  <%= form_tag login_path do |f| %>
  <p><label>　用户名: </label><%= text_field_tag :username %></p>
  <p><label>　　密码: </label><%= password_field_tag :password %></p>
  <p><%= submit_tag "登陆" %></p>
  <p><%= link_to "还没账号？快来注册", signup_path %></p>
  <% end %>
</div>
