<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SimpleTodo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="page">
      <div class="user_info">
        <% if logined? %>
          <span class="username"><%= current_user.username %></span> <%= link_to "退出", logout_path, method: :delete %>
        <% else %>
          <%= link_to "登陆", login_path %> <%= link_to "注册", signup_path %>
        <% end %>
      </div>
      <div class="header box">
        <h1><a href="/">Todo List</a></h1>
      </div> <!-- header end -->

      <%= yield %>

      <div class="foot">
        Copyright &copy; <a href="http://codingirls.club" target="_blank">CGC <%= image_tag("rails.png") %></a>
      </div> <!-- footer end -->
    </div> <!-- page end -->
  </body>
</html>
